<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Главная страница</title>
</head>
<body>
  <h1>Моя страница</h1>

  <p>
    <button class="btn-primary btn-primary" (click)="toggle()">Открыть</button>
  </p>

  <p *ngIf="condition">
    <a href="https://vk.com/rusya503"> <img src="assets/images/Pepe.jpg" alt="Фото" /></a>
  </p>

  <h1>Заголовок 1</h1>
  <p align="left">

    Never gonna give you up
    Never gonna let you down
    Never gonna run around and desert you
    Never gonna make you cry
    Never gonna say goodbye
    Never gonna tell a lie and hurt you
    Never gonna give you up
    Never gonna let you down
    Never gonna run around and desert you
    Never gonna make you cry
    Never gonna say goodbye
    Never gonna tell a lie and hurt you
    Never gonna give, never gonna give
    (Give you up)
  </p>
  <p><small>(Give you up)</small></p>

</body>
</html>
